<nav class="nav">
  <img
    alt="logo"
    class="nav--logo"
    src="../../assets/img/Logo.png"
  >
  <h1 class="nav--title">Testing App</h1>

  <ul class="nav--list-ul">
    <li class="nav--list-li"><a
      href="https://github.com/Felipebarcon"
      target="_blank"
    >Github</a></li>
    <li class="nav--list-li"><a
      href="https://www.linkedin.com/in/felipe-barcon/ "
      target="_blank"
    >Linkedin</a></li>
    <li class="nav--list-li"><a
      href="https://twitter.com/felipe_barcon"
      target="_blank"
    >Twitter</a></li>
  </ul>
</nav>
