<nav class="nav">
  <img
    [routerLink]="['']"
    alt="logo"
    class="nav--logo"
    src="../../assets/img/Logo.png"
  >
  <h1 class="nav--title">Countries App</h1>

  <ul class="nav--list-ul">

    <li
      [routerLink]="['countries']"
      class="nav--list-li"
    >Countries
    </li>

    <li
      [routerLink]="['/forms']"
      class="nav--list-li"
    >Forms
    </li>

    <li class="nav--list-li"><a
      href="https://github.com/Felipebarcon"
      target="_blank"
    ><i class="bi bi-github"></i></a></li>

    <li class="nav--list-li"><a
      href="https://www.linkedin.com/in/felipe-barcon/ "
      target="_blank"
    ><i class="bi bi-linkedin"></i></a></li>

    <li class="nav--list-li"><a
      href="https://twitter.com/felipe_barcon"
      target="_blank"
    ><i class="bi bi-twitter"></i></a></li>

  </ul>
</nav>
<div class="nav__border-bottom"></div>
