.homepage__container {
  background-color: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsla(303, 87%, 36%, 0.7) 0px 7px 0px 0px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.homepage__button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
}

.homepage__button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(0.5, 0.7, 0.4, 1);
}

.homepage__button:hover:before {
  transition: all 0s;
  transform: translateY(100%);
  opacity: 0;
}

.homepage__button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.homepage__button:hover i {
  transition: all 0.2s ease;
  transform: translateY(0px);
  opacity: 1;
}

.homepage__button:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

.homepage__button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
}

.homepage__button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
}

.homepage__button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
}

.homepage__button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
}

.homepage__button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
}

.homepage__button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
}

.homepage__button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
}

.homepage__button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
}

.homepage__button:hover i:nth-child(11) {
  transition-delay: calc(0.045s * 11);
}

.homepage__button:hover i:nth-child(12) {
  transition-delay: calc(0.045s * 12);
}

.homepage__button:hover i:nth-child(13) {
  transition-delay: calc(0.045s * 13);
}
