<div *ngIf="countries$ | async as countries" class="project__cards__container">
  <div *ngFor="let country of countries$ | async" class="card">

    <div  class="card2">
      <img
        src="{{ country.flags!['png'] }}"
        alt=""
        class="country__img"
      >
      <div class="country__data">
        <h3 class="country__name">{{ country.name!['common'] }}</h3>
        <h4 class="country__population">Population:
          {{ country.population | number: '0.0-2' }}  👨‍👩‍👦‍👦</h4>
      </div>
    </div>
  </div>
</div>
