<div
  *ngIf="countries$ | async as countries"
  class="project__cards__container"
>
  <div
    *ngFor="let country of countries$ | async ; let index = index"
    [routerLink]="[index]"
    class="card"
  >

    <div
      class="card2"
    >
      <img
        alt=""
        class="country__img"
        src="{{ country.flags!['png'] }}"
      >
      <div class="country__data">
        <h3 class="country__name">{{ country.name!['common'] }}</h3>
        <h4 class="country__population">Population:
          {{ country.population | number: '0.0-2' }}  👨‍👩‍👦‍👦</h4>
      </div>
    </div>
  </div>
</div>
