<div class="projects__container">

  <div class="projects__input">
    <input [(ngModel)]="inputValue" type="text">
    <button  class="btn btn-primary"
            style="margin-left: 10px">Search
    </button>
  </div>

  <div class="project__cards__container">
    <div *ngFor="let country of countryData" class="card">

      <div  class="card2">
        <img
          src="{{ country.flags!['png'] }}"
          alt=""
          class="country__img"
        >
        <div class="country__data">
          <h3 class="country__name">{{ country.name!['common'] }}</h3>
          <h4 class="country__population">Population:
            {{ country.population | number: '0.0-2' }}  👨‍👩‍👦‍👦</h4>
        </div>
      </div>
      <button  *ngIf="countryData" type="button"
              class="btn btn-primary btn-delete-country">
        Supprimer</button>
    </div>

  </div>
</div>

