<div class="projects__input">
  <input [(ngModel)]="inputValue" type="text">
  <button  class="btn btn-primary"
           (click)="submitCountry()"
           style="margin-left: 10px"
  >Search
  </button>
</div>

<div class="container countries-container d-flex flex-row">
  <app-countries-container-list [countries]="countries | async"
                                class="flex-50 pr-10"
  ></app-countries-container-list>
  <app-countries-details [countries]="countries | async" class="flex-50 pl-10"
  ></app-countries-details>
</div>


