<div class="projects__input">
  <input
    [(ngModel)]="inputValue"
    type="text"
  >
  <button
    (click)="submitCountry()"
    class="btn btn-primary"
    style="margin-left: 10px"
  >Search
  </button>
</div>

<div class="container countries-container d-flex flex-row">

  <app-countries-list
    [countries$]="countries$"
    class="flex-50 pr-10"
  ></app-countries-list>

  <app-countries-details
  ></app-countries-details>
  <app-countries-search *ngIf="submittedCountry ==! submittedCountry"></app-countries-search>
</div>




